@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color1: #f24405;
  --color2: #a62f03;
  --color3: #a6a6a6;
  --color4: #404040;
  --color5: #0d0d0d;

  /* --accent-color: orangered; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* !Content css */

.content-container {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.content-left {
  height: 100%;
  width: 30vw;

  background-color: var(--color5);
  color: var(--color3);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.profile-card {
  margin: 0;
  width: 70%;
  height: 40%;
  min-width: 240px;
  min-height: 280px;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

.profile-card .profile-img {
  background-image: url("https://randomuser.me/api/portraits/men/46.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40%;
  border: 2px solid var(--color4);
  height: 100px;
  width: 100px;
}

.profile-card h1 {
  color: var(--color1);
  margin: 0;
  font-size: 2.6rem;
  font-weight: 600;
}

.profile-card h4 {
  margin: 0;
  color: var(--color1);
  opacity: 0.5;

  font-size: 1.3rem;
  font-weight: 300;
}

.profile-card p {
  margin: 0;
  color: var(--color3);
  font-size: 0.7rem;
}

.content-right {
  height: 100%;
  width: 70vw;

  background-color: var(--color3);
}

/* !End of Content css */

/* !Terminal css */

.terminal-container {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: var(--color5);
  width: 40vw;
  height: 40vh;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;

  transform: translateY(0);

  transition: transform 0.5s ease;
}

.terminal-container.hidden {
  transform: translateY(calc(40vh - 40px));
}

.terminal-heading {
  height: 40px;
  background-color: var(--color1);
  color: #fff;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-heading h3 {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  opacity: 1;
  /* text-transform: uppercase; */
  /* color: #591902; */
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.terminal-heading h3 > i {
  color: var(--color4);
  margin-right: 4px;
  padding-top: 2px;
  font-size: 0.9rem;

  transform: scaleY(90%);
}

.terminal-heading button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  background-color: var(--color1);
  /* color: #262626; */
  color: var(--color4);
}

.terminal-heading button:hover,
.terminal-heading button:focus {
  background-color: var(--color2);
  /* color: #591902; */
  color: var(--color3);
}

.terminal-heading button i {
  width: 20px;
  transform: rotate(180deg);

  transition: transform 0.3s ease-out;
}

.terminal-heading button.hidden i {
  transform: rotate(0deg);
}

.terminal-console {
  padding: 6px;
  height: 100%;
  width: 100%;
}

.terminal-console textarea {
  background-color: var(--color5);
  color: var(--color3);
  height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 4px;

  border: 0;

  font-size: 1.1rem;

  resize: none;
}

textarea:focus {
  outline: none;

  border: 2px solid var(--color4);
}

/* !End of Terminal css */
