@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap");

:root {
  --color1: rgb(242, 68, 5);
  --color2: rgb(166, 47, 3);
  --color3: rgb(166, 166, 166);
  --color4: rgb(64, 64, 64);
  --color5: rgb(13, 13, 13);

  /* --accent-color: orangered; */
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* !Content css */

.content-container {
  height: 100vh;
  width: 100vw;

  display: flex;
}

.content-left {
  height: 100%;
  width: 30vw;

  background-color: var(--color5);
  color: var(--color3);

  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* ! Profile Card */

.profile-card {
  margin-top: 80px;
  width: 70%;
  height: 40%;
  min-width: 240px;
  min-height: 280px;
  /* background-color: red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* border: 2px solid pink; */

  /* RELATIVE zbog ispod kontakta */
  position: relative;

  user-select: none;
}

.profile-card .profile-img {
  /* background-image: url("https://randomuser.me/api/portraits/men/46.jpg"); */
  background-image: url("../files/profile1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40%;
  border: 2px solid var(--color4);
  min-height: 100px;
  min-width: 100px;
}

.profile-card h1 {
  color: var(--color1);
  margin: 8px 0 0 0;
  font-size: 2.6rem;
  font-weight: 600;
  /* padding: 20px 0; */
}

.profile-card h4 {
  margin: 16px 0 8px 0;
  color: var(--color1);
  opacity: 0.5;

  font-size: 1.3rem;
  font-weight: 300;
}

.profile-card p {
  margin: 0;
  color: var(--color3);
  font-size: 0.7rem;
}

/* ! End of Profile Card */

/* ! Contact Card */

.contact {
  /* border: 2px solid pink; */

  margin-top: 120px;
  margin-bottom: 130px;
  width: 70%;
  min-width: 240px;

  position: relative;
}

.contact .line {
  width: 100%;
  height: 50px;

  z-index: 10;

  border-bottom: 2px solid var(--color3);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  background-color: var(--color5);
  /* opacity: 0.3; */
}

.contact .line p {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 0.6rem;

  user-select: none;
}

.social-network {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  border-left: 2px solid var(--color3);
  border-right: 2px solid var(--color3);
  border-bottom: 2px solid var(--color3);

  border-end-end-radius: 5px;
  border-end-start-radius: 5px;

  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-around;

  transform: translateY(0%);

  transition: 0.3s ease-in;
}

.social-network .fab {
  color: var(--color2);
  font-size: 18px;
}

.social-network.active {
  transform: translateY(100%);
}

.contact-toggle {
  position: absolute;
  border: none;

  background-color: var(--color3);
  color: var(--color4);

  border-radius: 20%;
  cursor: pointer;
  padding: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;

  transition: border-radius 0.1s ease-in;
}

.contact-toggle:hover {
  border-radius: 30%;

  color: var(--color1);
}

.contact-toggle:focus {
  outline: none;
}

/* ! End of Contact Card */

/* ! RIGHT Card */

.content-right {
  height: 100vh;
  width: 70vw;

  transition: transform 0.5s ease-in-out;

  /* overflow-y: auto; */
}

.content-right > div {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  background-color: var(--color3);
}

.content-right h1 {
  position: absolute;

  color: var(--color4);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  padding: 0;

  font-size: 40px;
  letter-spacing: 70px;
  text-indent: 70px;
  text-transform: uppercase;

  opacity: 0.3;

  user-select: none;
}

/* #home h1 {
  font-size: 40px;
  letter-spacing: 70px;
  text-indent: 70px;
}

#my-skills h1 {
  font-size: 40px;
  letter-spacing: 40px;
  text-indent: 40px;
}

#my-projects h1 {
  font-size: 40px;
  letter-spacing: 40px;
  text-indent: 40px;
}

#my-interests h1 {
  font-size: 40px;
  letter-spacing: 40px;
  text-indent: 40px;
} */

#my-projects {
  background-image: url("../files/projects-bgd11.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  height: 40%;
  width: 60%;

  padding: 8px 16px;

  /* background-color: var(--color3); */
  background-color: rgba(255, 255, 255, 0.7);
  /* background-image: url("");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover; */

  color: var(--color5);

  border-radius: 10px;

  border: 2px solid var(--color4);
  box-shadow: 0 0 4px var(--color4);
}

.project-title {
  color: var(--color2);
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0;
  text-align: center;
}

.language {
  font-weight: 500;
  color: var(--color4);
}

.description {
  font-size: 0.8rem;
  color: var(--color4);
  text-align: justify;
}

/* ! End of RIGHT Card */

/* !End of Content css */

/* !Terminal css */

.terminal-container {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: var(--color5);
  width: 40vw;
  height: 40vh;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;

  transform: translateY(0);

  transition: transform 0.5s ease;
}

.terminal-container.hidden {
  transform: translateY(calc(40vh - 40px));
}

.terminal-heading {
  height: 40px;
  background-color: var(--color1);
  /* color: #fff; */

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding: 0 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminal-heading h3 {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1px;
  opacity: 1;
  color: #fff;
  /* color: var(--color3); */

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.terminal-heading h3 > i {
  color: var(--color4);
  margin-right: 4px;
  padding-top: 2px;
  font-size: 0.9rem;

  transform: scaleY(90%);
}

.terminal-heading button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;

  background-color: var(--color1);
  /* color: #262626; */
  color: var(--color4);
}

.terminal-heading button:hover,
.terminal-heading button:focus {
  background-color: var(--color2);
  /* color: #591902; */
  color: var(--color3);
}

.terminal-heading button i {
  width: 20px;
  transform: rotate(180deg);

  transition: transform 0.3s ease-out;
}

.terminal-heading button.hidden i {
  transform: rotate(0deg);
}

.terminal-console {
  padding: 6px;
  height: 100%;
  width: 100%;
}

.terminal-console textarea {
  background-color: var(--color5);
  color: var(--color3);
  height: 100%;
  width: 100%;
  padding: 8px;
  border-radius: 4px;

  border: 0;

  font-size: 1.1rem;

  overflow: hidden;
  resize: none;
}

textarea:focus {
  outline: none;

  border: 2px solid var(--color4);
}

/* !End of Terminal css */

/* !Current dir container css */

.current-dir-container {
  position: fixed;
  top: 20px;
  right: -140px;
  min-height: 56px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 100;

  border-radius: 10px;
  border: 2px solid rgba(64, 64, 64, 0.4);

  color: rgba(255, 255, 255, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;

  transition: right 0.3s ease-in-out;
}

.current-dir-container.active {
  right: 20px;
}

/* !End of Current dir container css */
